/* Fixes flashing screen on transitions */
.ui-page {
    -webkit-backface-visibility: hidden;
}

.ui-body-c, .ui-overlay-c {
	font-family:verdana;
	text-shadow:0px 0px;
}

/* Keno Game all classes for the game have the gm(game) prefix */
.gmWrap {
	width:100%;
	height:100%;
	background-color:#000000;
}

.gmCard {
	display:inline-block;
	text-align:center;
	border:solid #c1c1c1;
	border-width: 1px 0px 0px 1px;
}

#gmCard1 {
	margin:1.5em 1.5em 0px 1.5em;
}

#gmCard2 {
	margin:0px 1.5em 1.5em 1.5em;
}

.gmRow {
	white-space:nowrap;
}

.gmNbr {
	float:left;
	width:20px;
	line-height:20px;
	font-size:12px;
	text-align:center;
	border:solid #ffffff;
	border-width:0px 1px 1px 0px;
	color:#ffffff;
}

.gmNbrOn {
	background-color:#ff0000;
}

.gameMessage {
	margin:0px 1.5em;
	width:212px; /* 20 * 10 + 12 (1px borders) = */
	line-height:2em;
	text-align:center;
	font-weight:bold;
	color:#ffffff;
}
